:root {
    /*FONT*/
    --font-dm-sans: "DM Sans", sans-serif;

    /* COLOR */
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    --header-search: #242424;
    --header-subscribe: #a7a7a7;
    --header-login: #000;
    --text-base-dark: #000;
    --text-base-light: #fff;
    --text-sub: #a7a7a7;
    --bg-icon: #131313;
    --bg-top-bar: #61616142;
    --grid-gap: 24px;
    --column-count: 5;
}


body {
    background-color: #000;
    font-family: var(--font-dm-sans);
}
/* NavBar / SideBar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}
.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo img{
    width: 80px;
}

.sidebar__navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

/* Library e Section */

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button{
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
}

.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library__content .fa-plus{
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 14px;
    color: #FFF;
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    width: 113px;
    margin-top: 12px;
}

.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .cookies a:hover{
    text-decoration: underline;
}

.languages .languages__button {
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}

/* MAIN NAV */

.main-container {
    max-width: 800vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left {
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: var(--header-search);
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0px 100px 0 12px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__login .subscribe {
    color: var(--header-subscribe);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    border: none;
}

.header__login .login {
    width: 100px;
    height: 48px;
    color: var(--header-login);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
}

/* Footer */

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}
.disclaimer-premium .text {
   flex-shrink: 0;
}
.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}

/* PLAYLIST E CARDS */

.playlist-container {
    height: 68vh;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: #121212;
  }
  
  .playlist {
    margin: 24px;
  }
  
  .playlist #greeting {
    color: var(--text-base-light);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
  }
  
  .playlist .session {
    color: var(--text-base-light);
    font-size: 24px;
    font-weight: 700;
  }
  
  .offer__scroll-container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
  }
  
  .offer__scroll-container::-webkit-scrollbar {
    width: 1px;
  }
  
  .offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .offer__list-item {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  gap: 16px;
  margin-bottom: 16px; 

  }
  
  
  .cards {
    position: relative; 
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .cards span {
    padding: 16px;
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    color: var(--text-base-light);
  }
  
  /* COLOR CARDS */
  .card1 {
    background-color: rgb(0, 100, 80);
  }
  .card2 {
    background-color: rgb(132, 0, 231);
  }
  .card3 {
    background: rgb(30, 50, 100);
  }
  .card4 {
    background: rgb(140, 25, 50);
  }
  .card5 {
    background: rgb(232, 17, 91);
  }
  .card6 {
    background: rgb(83, 122, 161);
  }
  .card7 {
    background: rgb(142, 102, 172);
  }
  .card8 {
    background: rgb(20, 138, 8);
  }
  .card9 {
    background: rgb(30, 50, 100);
  }
  .card10 {
    background: rgb(233, 20, 41);
  }
  .card11 {
    background: rgb(80, 55, 80);
  }
  .card12 {
    background: rgb(216, 64, 0);
  }
  .card13 {
    background: rgb(186, 93, 7);
  }
  .card14 {
    background: rgb(0, 30, 80);
  }
  .card15 {
    background: rgb(60, 30, 80);
  }
  /* FIM COLOR CARDS */
  
  .offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 9em;
    width: 9em;
  }
  
  /* CARD ARTISTA */
  
  .artist {
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
  }
  
  .hidden {
    display: none;
  }
  
  .grid-container {
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);
  }
  
  .artist-card {
    background: #181818;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .artist-card:hover {
    background-color: #252525;
  }
  
  .card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
  }
  
  .card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
  }
  
  .artist-categorie {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
  }
  
  .play {
    position: relative;
  }
  
  .play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
  }
  
  .artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
  }
  
  #result-artist {
    padding: 20px 40px;
  }
